node_modules
compiled/*.con
obj/*.AST
test/eduke
test/eduke32
*.cfg
*.log
*.cache
texturecache
*.index
dist
include
compiled
*.lock
*.exe
*.py
*.gdb
*.con
pkg
src/sets/TCSet100/precompile/CON/*.con
src/sets/TCSet100/precompile/generated/*.con