node_modules
eduke32_src
.agent
.claude
compiled
obj
CLAUDE.md
TODO.md
asm
test
test
*.cfg
*.log
*.cache
texturecache
*.index
pkg
src/sets/TCSet100/precompile/CON/*.con
src/sets/TCSet100/precompile/generated/*.con